**Listas**

In [1]:
nomes_paises = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']
print(nomes_paises)

['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']

In [2]:
print('Tamanho da lista: ', len(nomes_paises))

Tamanho da lista:  5

In [3]:
# Acessando uma lista:

print('Primeiro da lista: ', nomes_paises[0])
print('Ultimo da lista: ', nomes_paises[-1])

Primeiro da lista:  Brasil
Ultimo da lista:  Japão

In [4]:
# Sobrepondo valor da lista
nomes_paises[4] = 'Colombia'
print('Nome paises atualizado: ', nomes_paises)

Nome paises atualizado:  ['Brasil', 'Argentina', 'China', 'Canadá', 'Colombia']

Cuidado ! Tentar inserir da seguinte forma retorna erro de out index:

nomes_paises[5] = 'nome do país'

O correto é utilizar a função .append()

nome_paises.append('nome do país')

In [5]:
# Acessando uma lista com slices (O indice final nunca entra na amostra !)
print(nomes_paises[:])
print(nomes_paises[1:3])
print(nomes_paises[1:])
print(nomes_paises[:-2])

['Brasil', 'Argentina', 'China', 'Canadá', 'Colombia']
['Argentina', 'China']
['Argentina', 'China', 'Canadá', 'Colombia']
['Brasil', 'Argentina', 'China']

In [6]:
# Saltando valores em uma lista
print(nomes_paises[:])
print(nomes_paises[::2]) # Toda lista saltando de 2 em 2
print(nomes_paises[::-1]) # Consigo inverter a ordem de uma lista dessa forma !

['Brasil', 'Argentina', 'China', 'Canadá', 'Colombia']
['Brasil', 'China', 'Colombia']
['Colombia', 'Canadá', 'China', 'Argentina', 'Brasil']

In [7]:
# Sabendo se existe um determinado valor dentro da lista

print(nomes_paises)
print('Brasil' in nomes_paises)
print('Canadá' not in nomes_paises)

['Brasil', 'Argentina', 'China', 'Canadá', 'Colombia']
True
False

In [8]:
# Adicionando valor na lista usando append

lista_capitais = []
lista_capitais.append('Brasilia')
lista_capitais.append('Buenos Aires')
lista_capitais.append('Pequim')
lista_capitais.append('Bogotá')
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Pequim', 'Bogotá']

In [9]:
# Adicionando valor na lista usando o insert (Com o insert podemos colocar
# o elemento no lugar que queremos ao contrário do append que vai para última
# posição)

lista_capitais.insert(2, 'Paris')
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Pequim', 'Bogotá']

In [10]:
# Deletando lista usando remove

lista_capitais.remove('Buenos Aires')
print(lista_capitais)

['Brasilia', 'Paris', 'Pequim', 'Bogotá']

In [11]:
# Deletando lista usando pop
print(lista_capitais)
lista_capitais.pop(2)
print(lista_capitais)

['Brasilia', 'Paris', 'Pequim', 'Bogotá']
['Brasilia', 'Paris', 'Bogotá']

**Tuplas**

In [12]:
nomes_paises = ('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')
print(nomes_paises, type(nomes_paises))

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>

In [13]:
# Detalhe se declarar sem parênteses continua sendo uma tupla
nomes_paises = 'Brasil', 'Argentina', 'China', 'Canadá', 'Japão'
print(nomes_paises, type(nomes_paises))

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>

In [14]:
# Declarando tupla de 1 elemento
nome_estado = 'São Paulo',
print(nome_estado, type(nome_estado))

('São Paulo',) <class 'tuple'>

**Strings I**

In [15]:
# Utilização do caracter discapt (O caracter discapt pode ser utilizado para
# quebra de linha, tabulação ou retorno dentro do texto)

frase = "O professor Pietro da Let'sCode disse: \"Hoje a pizza é por minha conta\""
print(frase)

O professor Pietro da Let'sCode disse: "Hoje a pizza é por minha conta"

In [16]:
# Acessando uma string
empresa = 'Google'
print(empresa[0])
print(empresa[0:3])

G
Goo

In [17]:
# Separando uma string em uma lista
cidades = 'São Paulo, Belo Horizonte, Rio de Janeiro, Brasilia'
cidades = cidades.split(', ')
print(cidades)

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasilia']

In [18]:
# Removendo espaços de uma string
cabecalho = "   MENU PRINCIPAL   "
print(cabecalho)
cabecalho = cabecalho.strip()
print(cabecalho)

   MENU PRINCIPAL
MENU PRINCIPAL

In [19]:
# Padronizando uma string

cidade = 'rIo DE janeirO'

print('Palavra teste:', cidade)
print('Só as primeiras maiusculas: ', cidade.title())
print('Só a primeira letra maiuscula: ', cidade.capitalize())
print('Tudo minusculo: ', cidade.lower())
print('Tudo maiusculo: ', cidade.upper())

Palavra teste: rIo DE janeirO
Só as primeiras maiusculas:  Rio De Janeiro
Só a primeira letra maiuscula:  Rio de janeiro
Tudo minusculo:  rio de janeiro
Tudo maiusculo:  RIO DE JANEIRO

In [20]:
cidade = input('Qual cidade do Brasil é conhecida como cidade maravilhosa ?')
cidade = cidade.strip()
while cidade.lower() != 'rio de janeiro':
    print('Tente novamente !')
    cidade = input('Qual cidade do Brasil é conhecida como cidade maravilhosa ?')
    cidade = cidade.strip()
print('Acertouuu !!')

Qual cidade do Brasil é conhecida como cidade maravilhosa ?rio de janeiro
Acertouuu !!

In [21]:
mensagem = 'Você viu o que o Pietro disse ?'
citado = 'Pietro' in mensagem
print(citado)
citado = 'Felipe' in mensagem
print(citado)

True
False

**Strings II**

In [22]:
# Operações com String
cumprimento = 'Olá, '
nome = 'Marcelo'
print(cumprimento + nome)
print(nome * 5)

Olá, Marcelo
MarceloMarceloMarceloMarceloMarcelo

In [23]:
nome = 'Marcelo'
idade = '24'
n_filhos = '0'
print(nome + ' tem ' + str(idade) + ' anos e ' + str(n_filhos) + ' filhos')

Marcelo tem 24 anos e 0 filhos

In [24]:
# Forma resumida para printar mensagem, sem precisar concatenar e trocar os
# tipos de variaveis numericas para .str()
print('{} tem {} anos e {} filhos'.format(nome,idade,n_filhos))

Marcelo tem 24 anos e 0 filhos

In [25]:
# Casas decimais no print
preco_gasolina = 6.019
print('O preço da gasolina hoje subiu e está em R$ {:.2f}'.format(preco_gasolina))

O preço da gasolina hoje subiu e está em R$ 6.02

**Dicionários**

In [26]:
dados_cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'area_km2': 1521,
    'populacao_milhoes': 12.18
}

In [27]:
print(dados_cidade, type(dados_cidade))

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18} <class 'dict'>

In [28]:
dados_cidade['país'] = 'Brasil'

In [29]:
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18, 'país': 'Brasil'}

In [30]:
print(dados_cidade['nome'])

São Paulo

In [31]:
dados_cidade['area_km2'] = 1500
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}

In [32]:
# Atenção na copia !
dados_cidade_2 = dados_cidade
dados_cidade_2['nome'] = 'Santos'
print(dados_cidade)
print(dados_cidade_2)
dados_cidade_3 = dados_cidade.copy()
dados_cidade_3['nome'] = 'Rio de Janeiro'
print('---------------------------------------')
print(dados_cidade)
print(dados_cidade_3)

{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
---------------------------------------
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
{'nome': 'Rio de Janeiro', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}

In [33]:
# Atualizando uma lista com update

novos_dados = {
    'populacao_milhoes': 15,
    'fundacao': '25/01/1554'
}

dados_cidade.update(novos_dados)
print(dados_cidade)

{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 15, 'país': 'Brasil', 'fundacao': '25/01/1554'}

In [34]:
# Comandos importantes para dicionários !
print('Chaves de um dicionario: ', dados_cidade.keys())
print('Valores de um dicionario: ', dados_cidade.values())
print('Items de um dicionario: ', dados_cidade.items())

Chaves de um dicionario:  dict_keys(['nome', 'estado', 'area_km2', 'populacao_milhoes', 'país', 'fundacao'])
Valores de um dicionario:  dict_values(['Santos', 'São Paulo', 1500, 15, 'Brasil', '25/01/1554'])
Items de um dicionario:  dict_items([('nome', 'Santos'), ('estado', 'São Paulo'), ('area_km2', 1500), ('populacao_milhoes', 15), ('país', 'Brasil'), ('fundacao', '25/01/1554')])

**Estrutura de Repetição - For**

In [35]:
cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for nome in cidade:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [36]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_m': 12.2
}
for chave in cidade:
    print('{}: {}'.format(chave, cidade[chave]))

nome: São Paulo
estado: São Paulo
populacao_m: 12.2

In [37]:
cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for posicao in range(len(cidade)):
    print(posicao)

0
1
2
3

In [38]:
cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for posicao in range(len(cidade)):
    cidade[posicao] = 'Rio de Janeiro'
print(cidade)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [39]:
print('Contador de 0 até 9: ', list(range(10)))
print('Contador de 2 até 9: ', list(range(2, 10))) # Ultimo nao entra
print('Contador de 2 até 9 saltando 2: ', list(range(2, 10, 2)))

Contador de 0 até 9:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Contador de 2 até 9:  [2, 3, 4, 5, 6, 7, 8, 9]
Contador de 2 até 9 saltando 2:  [2, 4, 6, 8]

**Funções**

In [40]:
def hello():
    print('Olá, mundo!')

In [41]:
hello()

Olá, mundo!

In [42]:
def calcula_media(v1, v2, v3):
    media = (v1+v2+v3)/3
    return media

In [43]:
primeiro = int(input('Digite um valor: '))
segundo = int(input('Digite um valor: '))
terceiro = int(input('Digite um valor: '))
calcula_media(primeiro, segundo, terceiro)

Digite um valor: 10
Digite um valor: 10
Digite um valor: 10

10.0

In [44]:
# Atribuir valores default para uma função

def calcula_media(v1=0, v2=0, v3=0):
    media = (v1+v2+v3)/3
    return media

In [45]:
calcula_media(10, 20)

10.0

**Funções II**

In [46]:
def calcula_media(*args):
    print(args, type(args))

In [47]:
calcula_media(10,8,9)

(10, 8, 9) <class 'tuple'>

In [48]:
def calcula_media(*args):
    soma = sum(args)
    media = soma / len(args)
    return media

In [49]:
calcula_media(10, 20, 30, 40)

25.0

In [50]:
def print_info(**kwargs):
    print(kwargs, type(kwargs))